.border{
    margin: 23px 0 0 0;
    padding: 0;
    border-bottom: 1px solid #000;
}

.border#gray{
    margin: 0 0 10px 0;
    border-color: rgba(232, 232, 232, 1);
}

@media screen and (max-width:320px) {
    .border{
        margin-top: 28px;
    }
}